body {
    margin: 0;
}
canvas {
    display: block;
    margin: 0 auto;
    background: #ffd4d4;
}
.ui {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 10px;
    left: 0px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: #cacaca;

}