body {
    margin: 0;
}
canvas {
    display: block;
    margin: 0 auto;
    background: #ffd4d4;
}
.ui {
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    top: 10px;
    left: 0px;
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
}

#joystick {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: none;
}
#stick {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    top: 30px;
    left: 30px;
}

button {
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

button:hover {
    background-color: #cacaca;

}